Repository dtbuchholz/codebox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-build, script-syntax

.pre-commit-config.yaml:

repos:
  # =============================================================================
  # Pre-commit hooks (run on git commit)
  # =============================================================================

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$' # Prettier handles markdown
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Prettier for MD, JSON, YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, json, yaml]
        additional_dependencies:
          - prettier@3.5.0

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["-e", "SC1091"] # Don't complain about sourced files

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: ["--ignore", "DL3008", "--ignore", "DL3013"] # Allow unpinned apt/pip versions

  # Go formatting and linting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-mod-tidy

  # Go static analysis (uses local golangci-lint)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd webhook && golangci-lint run --fix'
        language: system
        files: '\.go$'
        pass_filenames: false

  # =============================================================================
  # Pre-push hooks (heavier checks)
  # =============================================================================
  - repo: local
    hooks:
      - id: go-build
        name: go build
        entry: bash -c 'cd webhook && go build -o /dev/null .'
        language: system
        files: '\.go$'
        pass_filenames: false
        stages: [pre-push]

      - id: script-syntax
        name: bash syntax check
        entry: bash -n
        language: system
        files: '\.(sh|bash)$'
        stages: [pre-push]

      - id: format-check
        name: format check
        entry: bash -c 'if command -v pnpm >/dev/null 2>&1; then pnpm format:check; elif command -v npx >/dev/null 2>&1; then npx prettier --check .; fi'
        language: system
        pass_filenames: false
        stages: [pre-push]

feat: more hooks, fmt, prettier, scripts
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  package.json
  scripts/bootstrap.sh
  webhook/.golangci.yml
  webhook/main.go
Due: golangci-lint, go-build, script-syntax

feat: improve scripting, config
  AGENTS.md
  README.md
  config/agentbox.toml.example
  fly.toml
  justfile
  scripts/bootstrap.sh
  scripts/cc-new
  scripts/config.sh
Due: script-syntax

feat: add Takopi messaging
  README.md
  config/takopi.toml.example
  scripts/bootstrap.sh
Due: script-syntax

feat: fixup errs, update readme
  Dockerfile
  README.md
  scripts/cc-ls
  scripts/cc-new
  webhook/main.go
Due: golangci-lint, go-build

docs: add new features
  README.md
Due: none

feat: add fly-init script and improve setup docs
  .gitignore
  Makefile
  README.md
  config/entrypoint.sh
  fly.toml.example
  scripts/fly-init.sh
  webhook/main.go
Due: golangci-lint, go-build, script-syntax

docs: use makefile cmd
  README.md
Due: none

feat: add gh CLI, improve Takopi/OpenRouter docs
  Dockerfile
  README.md
  config/takopi.toml.example
  scripts/bootstrap.sh
Due: script-syntax

feat: add startup health checks
  Dockerfile
  README.md
  config/entrypoint.sh
  scripts/healthcheck.sh
Due: script-syntax

fix: remove trigger_mode
  config/takopi.toml.example
Due: none

feat: add pnpm
  Dockerfile
Due: none

fix: ensure fresh tmux env for Takopi on restart
  README.md
  config/entrypoint.sh
  scripts/healthcheck.sh
Due: script-syntax

feat: add swap, memory monitoring, and fix API key persistence
  README.md
  config/entrypoint.sh
  scripts/healthcheck.sh
Due: script-syntax

docs: update README
  README.md
Due: none

docs: add git config instructions
  README.md
Due: none

feat: include psql in image
  Dockerfile
Due: none

feat: update psql setup
  Dockerfile
  config/entrypoint.sh
Due: script-syntax

feat: update docs, add setup script
  Dockerfile
  README.md
  scripts/vm-setup.sh
Due: script-syntax

refactor: remove ntfy, add yazi and man pages
  AGENTS.md
  Dockerfile
  README.md
  config/agentbox.toml.example
  config/entrypoint.sh
  config/notify.conf.example
  deploy.sh
  fly.toml.example
  hooks/notification-hook.sh
  hooks/prompt-hook.sh
  scripts/healthcheck.sh
  scripts/notify.sh
Due: script-syntax

feat: respect remote claude config sync
  README.md
  config/claude-settings.json
  config/entrypoint.sh
Due: script-syntax

fix: increase memory | add monitoring
  config/entrypoint.sh
  scripts/healthcheck.sh
Due: script-syntax

fix: handle stale takopi lockfiles
  scripts/healthcheck.sh
Due: script-syntax

feat: add restart script | update w/ takopi<>TG settings
  Dockerfile
  README.md
  scripts/takopi-restart
Due: none

feat: add takopi setup for new repo
  README.md
  scripts/takopi-add-project
Due: none

feat: block pushes to main
  Dockerfile
  README.md
  config/claude-settings.json
  config/entrypoint.sh
  config/git-hooks/pre-push
  scripts/claude-hook-check-push
Due: script-syntax

feat: sync remote cc config to vm
  README.md
  config/entrypoint.sh
  scripts/claude-config-sync
  scripts/healthcheck.sh
Due: script-syntax

fix: include CLAUDE_CONFIG_REPO in env
  config/entrypoint.sh
Due: script-syntax

feat: fixup justfile, readme, agents files
  AGENTS.md
  Makefile
  README.md
  justfile
Due: none

feat: add ssh commit signing
  README.md
  scripts/vm-setup.sh
Due: script-syntax

feat: add git author env vars for verified commits with API key auth
  README.md
  fly.toml.example
  scripts/vm-setup.sh
Due: script-syntax

feat: add gh auth setup-git for ux
  scripts/vm-setup.sh
Due: script-syntax

docs: add disk space troubleshooting guide
  README.md
Due: none

docs: add OPENAI_API_KEY to Fly secrets table
  README.md
Due: none

docs: update CLAUDE, AGENTS files
  AGENTS.md
  CLAUDE.md
Due: none

feat: add init-admin script for orchestrator workspace
  Dockerfile
  README.md
  scripts/init-admin
Due: none

fix: rename _admin to admin for Takopi compatibility
  README.md
  scripts/init-admin
Due: none

feat: add NOTES.md for cross-session memory in orchestrator
  scripts/init-admin
Due: none

feat: enable Takopi file uploads by default
  config/takopi.toml.example
  scripts/vm-setup.sh
Due: script-syntax

feat: add OpenAI Codex CLI support
  README.md
  config/agentbox.toml.example
  config/entrypoint.sh
  config/takopi.toml.example
  scripts/cc-ls
  scripts/cc-new
Due: script-syntax

feat: add cron support for scheduled tasks
  Dockerfile
  README.md
  config/crontab.example
  config/entrypoint.sh
Due: script-syntax
