Repository dtbuchholz/codebox: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-build, script-syntax

.pre-commit-config.yaml:

repos:
  # =============================================================================
  # Pre-commit hooks (run on git commit)
  # =============================================================================

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$' # Prettier handles markdown
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-merge-conflict
      - id: detect-private-key

  # Prettier for MD, JSON, YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, json, yaml]
        additional_dependencies:
          - prettier@3.5.0

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["-e", "SC1091"] # Don't complain about sourced files

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: ["--ignore", "DL3008", "--ignore", "DL3013"] # Allow unpinned apt/pip versions

  # Go formatting and linting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-mod-tidy

  # Go static analysis (uses local golangci-lint)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd webhook && golangci-lint run --fix'
        language: system
        files: '\.go$'
        pass_filenames: false

  # =============================================================================
  # Pre-push hooks (heavier checks)
  # =============================================================================
  - repo: local
    hooks:
      - id: go-build
        name: go build
        entry: bash -c 'cd webhook && go build -o /dev/null .'
        language: system
        files: '\.go$'
        pass_filenames: false
        stages: [pre-push]

      - id: script-syntax
        name: bash syntax check
        entry: bash -n
        language: system
        files: '\.(sh|bash)$'
        stages: [pre-push]

      - id: format-check
        name: format check
        entry: bash -c 'if command -v pnpm >/dev/null 2>&1; then pnpm format:check; elif command -v npx >/dev/null 2>&1; then npx prettier --check .; fi'
        language: system
        pass_filenames: false
        stages: [pre-push]

fix: resolve all lint errors across Go, shell, and Dockerfile
  Makefile
  config/entrypoint.sh
  config/git-hooks/pre-push
  scripts/claude-config-sync
  scripts/vm-setup.sh
  webhook/.golangci.yml
  webhook/main.go
Due: golangci-lint, go-build, script-syntax

fix: read app name from fly.toml in deploy script
  deploy.sh
Due: script-syntax

fix: export GH_TOKEN to agent env and fix CLI auto-updates
  config/entrypoint.sh
Due: script-syntax

feat: add daily CLI update cron job
  Dockerfile
  config/crontab.example
  scripts/update-clis
Due: none

refactor: run cron during night
  config/crontab.example
Due: none

refactor: use native installer for Claude Code
  config/entrypoint.sh
  scripts/update-clis
Due: script-syntax

feat: auto-deploy to Fly.io on merge to main
  .github/workflows/deploy.yml
Due: none

feat: add Takopi to CLI auto-update script and cron
  Dockerfile
  config/entrypoint.sh
  scripts/update-clis
Due: script-syntax

fix: eval classifier, hooks
  .pre-commit-config.yaml
  Dockerfile
  Makefile
Due: none

fix: go-vet and go-imports pre-commit hooks for webhook/ subdirectory
  .pre-commit-config.yaml
Due: none

feat: add OAuth auth, Python/uv tooling, and build-time CLI installs
  CLAUDE.md
  Dockerfile
  Makefile
  config/entrypoint.sh
  deploy.sh
  fly.toml.example
  scripts/cli-auth.sh
  scripts/update-clis
  scripts/vm-setup.sh
Due: script-syntax

docs: update README w/ new auth reqs
  README.md
Due: none

feat: add CODEX_CONFIG_REPO config sync
  AGENTS.md
  CLAUDE.md
  README.md
  config/entrypoint.sh
  scripts/codex-config-sync
  scripts/healthcheck.sh
Due: script-syntax
